/* You can add global styles to this file, and also import other style files */

.d1{
    height: 100%;
    margin-bottom: 10px;
    margin-left: 30px;
      
  }
  
  .d2{
     height:100%
   }
  
   #r1{
     margin-left: 250px;
   }
  
   #r2{
    margin-left: 20px;
  }
  
